.nav-inner {
	display: flex;
	align-items: center;
}


.left,
.right {
	flex: 1; /* equal width columns */
	display: flex;
	gap: 20px;
	color: #24BDE0;
}

.left {
	justify-content: flex-end; /* move links toward logo */
}

.right {
	justify-content: flex-start;
}

.logo {
	font-family: 'Mistral', 'Brush Script MT', cursive;
	margin: 20px;
	text-size-adjust: 200%;
}






